.container {
  background-color: #003580;
  color: white;
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.register {
  width: 60%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.title {
}
.text {
  font-size: 14px;
}
.input {
  height: 40px;
  width: 16rem;
  border-radius: 6px;
}
.btn {
  background-color: #3e84e7;
  border-radius: 4px;
  padding: 0.5rem 0.5rem;
  color: white;
}
.form {
  display: flex;
  gap: 0.5rem;
}
